<?xml version="1.0"?>
<robot name="fire_platform" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Базова ланка -->
  <link name="base_link" />

  <!-- Камера -->
  <link name="camera_link" />
  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="camera_link"/>
    <origin xyz="0.0 0.0 1.2" rpy="0 0 0"/>
  </joint>

  <!-- Тепловізор -->
  <link name="thermal_camera_link" />
  <joint name="thermal_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="thermal_camera_link"/>
    <origin xyz="0.05 0.1 1.15" rpy="0 0 0"/>
  </joint>

  <!-- Лазерний далекомір -->
  <link name="rangefinder_link" />
  <joint name="rangefinder_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="rangefinder_link"/>
    <origin xyz="0.1 0.0 1.1" rpy="0 0 0"/>
  </joint>

  <!-- Зброя -->
  <link name="weapon_link" />
  <joint name="weapon_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="weapon_link"/>
    <origin xyz="0.0 0.0 0.9" rpy="0 0 0"/>
  </joint>

</robot>
